<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title> Umbrella Corporation </title>
</head>
 <body>

<form name="test" method="get" th:action="@{/tasks}">

<p><b> Логин: </b><br>
    <input type="text" size="40">

<p><b> Пороль: </b><br>
    <input type="text" size="40">
</p>

    <a href="tasks">
        <button onclick="">Login</button>
    </a>

    <a href="registration">
        <button onclick="">Registration</button>
    </a>
</form>

 <script>

 </script>
</body>
</html>
 