<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Umbrella Corporation </title>
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}">
</head>
<body>
    <div class="area">
        <ul class="cubes">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="registrationLogin">
        <form name="test" method="get" th:action="@{/tasks}">

            <p><b> Login: </b><br>
                <input class="textLogin" type="text" size="40">

            <p><b> Password: </b><br>
                <input class="textPassword" type="text" size="40">
            </p>

            <div class="styleButton">
                <input type="button" onclick="location.href= 'tasks'" value="Login">
                <input type="button" onclick="location.href= 'registration'" value="Registration">
            </div>
        </form>
    </div>
</body>
</html>

 