<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/tasksStyle.css}">
</head>
<body>
<div class="area" >

  <ul class="circles">
    <li value = "1"></li>
    <li value = "2"></li>
    <li value = "3"></li>
    <li value = "4"></li>
    <li value = "5"></li>
    <li value = "6"></li>
    <li value = "7"></li>
    <li value = "8"></li>
    <li value = "9"></li>
    <li value = "10"></li>

    <li value = "11"></li>

    <li value = "12"></li>
    <li value = "13"></li>
    <li value = "14"></li>
    <li value = "15"></li>
  </ul>

</div >

<div class = "profileTable">
  <table>
    <tr>
      <thead>
      <th>id</th>
      <th>name</th>
      <th>surName</th>
      <th>login</th>
      </thead>
    </tr>
    <tbody>
    <tr th:each="person : ${profile}">
      <th th:text="${person.id}"></th>
      <th th:text="${person.name}"></th>
      <th th:text="${person.surName}"></th>
      <th th:text="${person.login}"></th>
    </tr>
    </tbody>
  </table>
</div>

<div class="taskTable">

    <table>
      <tr>
        <thead>
        <th>Title</th>
        <th>Text</th>
        <th>CreationDate</th>
        <th>ExperationDate</th>
        <th>ID</th>
        <th>Tag</th>
        <th> </th>
        </thead>
      </tr>
      <tbody>
      <tr th:each="task : ${tasks}">
        <th  th:text="${task.title}"></th>
        <th  th:text="${task.text}"></th>
        <th  th:text="${task.creationDate}"></th>
        <th  th:text="${task.experationDate}"></th>
        <th  th:text="${task.id}"></th>
        <th  th:text="${task.tag}"></th>
        <th> <a th:href="@{/editTask/{id}(id=${task.id})}"> <button onclick="">Edit</button></a></th>

         <th>
           <form th:action="@{/deleteTask/{id}(id=${task.id})}" method="post">
             <button type="submit">Delete</button>
           </form>
         </th>

      </tr>
      </tbody>
    </table>

    <div class="styleButton">
      <input type="button" onclick="location.href= 'taskAdd'" value="Add">
    </div>
</div>
<form>

</form>

<script>


</script>

</body>
</html>