<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
</head>
 <body>
<table>
  <tr>
    <thead>
      <th>Title</th>
      <th>Text</th>
      <th>CreationDate</th>
      <th>ExperationDate</th>
      <th>ID</th>
      <th>Tag</th>
      <th> </th>
    </thead>
  </tr>
  <tbody>
    <tr th:each="task : ${tasks}">
      <th  th:text="${task.title}"></th>
      <th  th:text="${task.text}"></th>
      <th  th:text="${task.creationDate}"></th>
      <th  th:text="${task.experationDate}"></th>
      <th  th:text="${task.id}"></th>
      <th  th:text="${task.tag}"></th>
      <th> <input type="submit" name="" value="Edit"></th>
    </tr>
  </tbody>
</table>

  <a href="taskAdd.html">
    <button onclick="">Add</button>
  </a>

  <a href="taskAdd.html">
    <button onauxclick="">Delete</button>
  </a>

<form>

</form>

<script>


</script>

</body>
</html>