<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
</head>
 <body>
<table>
  <tr>
    <thead>
      <th>Title</th>
      <th>Text</th>
      <th>CreationDate</th>
      <th>ExperationDate</th>
      <th>ID</th>
      <th>Tag</th>
    </thead>
  </tr>
  <tbody>
      <tr>
          <th> <input type="text" name="Title" value=""></th>
          <th> <input type="text" name="Text" value=""></th>
          <th> <input type="text" name="CreationDate" value=""></th>
          <th> <input type="text" name="ExperationDate" value=""></th>
          <th> <input type="text" name="ID" value=""></th>
          <th> <input type="text" name="Tag" value=""></th>
      </tr>
  </tbody>
</table>

<a href="tasks.html">
    <button onclick="">Apply</button>
</a>

<a href="login.html">
    <button onclick="">Return</button>
</a>

<script>

</script>

</body>
</html>